body {
  font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: 300;
}

.jumbotron {
  background-image: url('http://tiancijunlin-1251116863.coscd.myqcloud.com/banner.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
}

.display-4 {
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0,0,0,.50);
}

h2, h3, h5 {
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
}

.card {
  transition: all .3s ease;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,.12);
  border-bottom: 3px solid #28a745;
  transform: translateY(-4px);
}

.carousel-item > img {
  height: 28.75rem;
}

.footer {
  font-size: 0.875rem;
  line-height: 52px;
  background-color: #3a3b3d;
}

@media (min-width: 992px) {
  #border {
    border-right: 1px solid #ededed;
  }
}

@media (max-width: 767.98px) {
  .display-4 {
    font-size: 1.625rem;
  }
}
